LOCAL_LLM_ENABLED=1
LOCAL_LLM_MODEL_PATH=models/railman-chat.gguf
LOCAL_LLM_N_CTX=4096
LOCAL_LLM_THREADS=6
LOCAL_LLM_GPU_LAYERS=0
LOCAL_LLM_MAX_TOKENS=320
LOCAL_LLM_TEMPERATURE=0.2
LOCAL_LLM_TOP_P=0.9
RAILMAN_LLM_PROVIDER_ORDER=local,rule_based
MONGODB_TRAINS_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_TRAINS_DB=railman_trains
MONGODB_CHAT_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_CHAT_DB=railman_chat
JWT_SECRET=change-this-to-a-long-random-string-in-production
PORT=8000
